@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

body{
    background-image: url(ingenieria2-1.jpg);
    background-size: cover;
}

.titulo{
    max-width: 100%;
	margin: auto;
	background-color: #1a76c7;
	font-size: 40px;
    display: flex;
}

.titulo > p{
    display: block;
    padding: 15px 20px;
    margin: auto;
    color: white;
    text-decoration: none;
}

nav{
	max-width: 100%;
	margin: auto;
	background-color: #1a76c7;
	font-size: 20px;
}

header{
    margin-bottom: 15px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: rgb(52, 197, 245);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

section{
    background-color: #e3e4d133;
    padding: 50px 15px;
    color: white;
    margin: 10px;
}

section h1{
    font-size: 45px;
    text-align: center;
    padding-bottom: 40px;
}

section h2{
    padding-bottom: 15px;
}

/*

#plan{
    background-color: #e3e4d133;
    padding: 50px 15px;
    color: white;
    margin-top: 60px;
} */

/*
#plan h1{
    text-align: center;
    padding-bottom: 40px;
} */



#plan .cuadro{
    width: fit-content;
    margin: auto;
    background-color: rgba(0, 0, 0, .5);
}

#plan .fila{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    max-width: fit-content;
    justify-content: center;
    text-align: center;
}

#plan .fila .col{
    display: flex;
    justify-content: center;
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
}

#plan .fila .col-num{
    display: flex;
    width: 10%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#plan > .cuadro > .fila > .col >  ul{
    list-style: none;
}

#archivos h2{
    padding-bottom: 0px;   
}

#archivos p{
    padding-bottom: 20px;
}

.recuadro {
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.texto {
    width: auto;
}
