@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

body{
    background-image: url(ingenieria2-1.jpg);
    background-size: cover;
}

.titulo{
    max-width: 100%;
	margin: auto;
	background-color: #1a76c7;
	font-size: 40px;
    display: flex;
}

.titulo > p{
    display: block;
    padding: 15px 20px;
    margin: auto;
    color: white;
    text-decoration: none;
}

nav{
	max-width: 100%;
	margin: auto;
	background-color: #1a76c7;
	font-size: 20px;
}

header{
    margin-bottom: 15px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    width: 100%;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover{
    background-color: rgb(52, 197, 245);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

section{
    background-color: #e3e4d133;
    padding: 50px 15px;
    color: white;
    margin-top: 10px;
}

section h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 40px;
}

section h2{
    padding-bottom: 15px;
}

#plan{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#plan .cuadro{
    margin: auto;
    background-color: rgba(0, 0, 0, .5);
}

#plan .media-fila{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#plan .fila{
    display: flex;
    flex-wrap: wrap-reverse; 
    max-width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    height: 20%;
    margin-bottom: 10px;
}

#plan .fila .media-fila .col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
    height: fit-content;
}

#plan .fila .media-fila .col-num{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    width: 30%;
    text-align: center;
    height: 20%;
}

#plan  ul{
    list-style: none;
}

#plan h1{
    max-width: 100%;
}

#archivos h2{
    padding-bottom: 0px;   
}

#archivos p{
    padding-bottom: 20px;
}

.recuadro {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.texto {
    width: 50%;
}
/*
.texto h1, .texto p, #plan h1{
    font-size: 2em;
}*/

footer{
    display: flex;
    margin-top: 2em;
    background-color: black;
    color: white;
    height: 5em;
    width: fit-content;
    justify-content: start;
    align-items: center;
    position: sticky;
    bottom: 0;
}

footer p{
    padding: 1em;
}

button{
    margin-top: 2em;
    padding: 1em;
    /*background-color: #1a76c7;*/
    color: white;
    font-size: 2em;
    width: fit-content;
    border-radius: 15px;
}

.donacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donacion p{
    background-color: rebeccapurple;
}
